& {
    padding-top: (@paddingTop * 1rem);
    padding-bottom: (@paddingBottom * 1rem);
}

& when (@bg-type ="color") {
    background: @bg-value;
}

& when (@bg-type ="image") {
    background-image: url(@bg-value);
}

.mbr-fallback-image.disabled {
    display: none;
}

.mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    & when (@bg-type ='video') {
        background-image: url(@fallBackImage);
    }
}

& when (@fullWidth) {
    .container-fluid {
        padding: 0 16px;

        @media (max-width: 992px) {
            padding: 0 12px;
        }

        .row {
            padding: 0;
        }
    }
}

.container {
    @media (max-width: 992px) {
        padding: 0 20px;
    }
}

.card {
    padding: 0;
}

.title-wrapper {
    padding-left: 64px;

    @media (max-width: 992px) {
        padding-left: 20px;
    }

    .mbr-section-title {
        padding-right: 64px;
        margin-bottom: 64px;

        @media (max-width: 992px) {
            margin-bottom: 50px;
            padding-right: 20px;
        }
    }

    .mbr-section-subtitle {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 64px;
        white-space: nowrap;

        &::after {
            content: '';
            margin-left: 8px;
            width: 100%;
            height: 2px;
            background-color: @line;
        }

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }
    }
}

.embla__slide {
    display: flex;
    justify-content: center;
}

.embla__button--next,
.embla__button--prev {
    display: flex;
}

.embla__button {
    top: -2rem;
    width: 30px;
    height: 30px;
    margin-top: -1.5rem;
    font-size: 16px;
    background-color: transparent;
    color: @primaryColor;
    border: none;
    border-radius: 50%;
    transition: all 0.3s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    & when not (@arrows) {
        display: none;
    }

    & when not (@arrowsMobile) {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &:disabled {
        cursor: default;
        display: none;
    }

    &:hover {
        background: transparent;
        color: @primaryColor;
        opacity: .7;
    }

    &.embla__button--prev {
        left: auto;
        right: 2rem;
        margin-left: 0;
    }

    &.embla__button--next {
        right: 0;
        margin-right: 0;
    }

    @media (max-width: 767px) {
        top: -1.5rem;
    }
}

.embla {
    position: relative;
    width: 100%;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.embla__slide {
    position: relative;
    min-width: 200px;
    max-width: 200px;
    margin: 0 10px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid @border;

    @media (max-width: 768px) {
        min-width: 200px;
        max-width: 200px;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    .card-wrap {
        .content-wrap {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 8px;

            .mbr-text {
                margin: 0;
            }
        }
    }
}

.mbr-section-title {
    color: #1d1d1d;
    text-align: center;
}

.mbr-section-title {
    color: #1d1d1d;
}

.mbr-text {
    color: #1d1d1d;
    text-align: center;
}
