<section class="features7 advisorym5" group="Features" mbr-class="{'mbr-fullscreen': fullScreen,
                    'mbr-parallax-background': bg.parallax}">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen">
        <input type="checkbox" title="Full Width" name="fullWidth" checked>
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="5"
               condition="fullScreen == false">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5"
               condition="fullScreen == false">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showTitle" checked>
        <header>Cards</header>
        <input type="checkbox" title="Card Title" name="showCardTitle" checked>
        <input type="checkbox" title="Card Text" name="showText" checked>
        <input type="color" title="Border Color" value="#d7d7d7" name="border" selected>
        <input type="color" title="Active Color" value="#1d1d1d" name="active" selected>
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg" parallax>
            <input type="color" title="Color" value="#FCFBF5" selected>
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background1.jpg" name="fallBackImage"
               condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
               condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.7"
               condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
         mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>

    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row">
            <div class="item features-image col-12 col-lg-4">
                <a href="#">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="../_images/advisory/image1.jpg" alt="Mobirise Website Builder">
                        </div>
                        <div class="item-content">
                            <h4 class="mbr-card-title mbr-fonts-style" mbr-theme-style="display-5"
                                data-app-selector=".mbr-card-title" mbr-if="showCardTitle">
                                Firm
                            </h4>
                            <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                               data-app-selector=".mbr-text" mbr-if="showText">
                                Accusantium alias aspernatur autem consectetur adipisicing
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item features-image col-12 col-lg-4">
                <a href="#">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="../_images/advisory/image1.jpg" alt="Mobirise Website Builder">
                        </div>
                        <div class="item-content">
                            <h4 class="mbr-card-title mbr-fonts-style" mbr-theme-style="display-5"
                                data-app-selector=".mbr-card-title" mbr-if="showCardTitle">
                                Team
                            </h4>
                            <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                               data-app-selector=".mbr-text" mbr-if="showText">
                                Expedita facere facilis fugiat ipsam mollitia obcaecati
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item features-image col-12 col-lg-4">
                <a href="#">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="../_images/advisory/image1.jpg" alt="Mobirise Website Builder">
                        </div>
                        <div class="item-content">
                            <h4 class="mbr-card-title mbr-fonts-style" mbr-theme-style="display-5"
                                data-app-selector=".mbr-card-title" mbr-if="showCardTitle">
                                Strategy
                            </h4>
                            <p class="mbr-text mbr-fonts-style" mbr-theme-style="display-7"
                               data-app-selector=".mbr-text" mbr-if="showText">
                                Quod quos similique suscipit vero vitae suscipit
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>