<section class="gallery3 advisorym5" group="Gallery & Slider" mbr-class="{'mbr-fullscreen': fullScreen,
                    'mbr-parallax-background': bg.parallax}">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen">
        <input type="checkbox" title="Full Width" name="fullWidth" checked>
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="5"
               condition="fullScreen == false">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5"
               condition="fullScreen == false">
        <header>Show/Hide</header>
        <input type="range" inline title="Images Amount" name="image" min="1" max="4" step="1" value="4">
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg" parallax>
            <input type="color" title="Color" value="#FCFBF5" selected>
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background1.jpg" name="fallBackImage"
               condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
               condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.7"
               condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
         mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>

    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row">
            <div class="col-12 col-lg-3 card">
                <div class="image-wrapper">
                    <img src="../_images/advisory/image6.jpg" alt="Mobirise">
                </div>
            </div>
            <div class="col-12 col-lg-3 card" mbr-if="image > 1">
                <div class="image-wrapper">
                    <img src="../_images/advisory/image10.jpg" alt="Mobirise">
                </div>
            </div>
            <div class="col-12 col-lg-3 card" mbr-if="image > 2">
                <div class="image-wrapper">
                    <img src="../_images/advisory/image8.jpg" alt="Mobirise">
                </div>
            </div>
            <div class="col-12 col-lg-3 card" mbr-if="image > 3">
                <div class="image-wrapper">
                    <img src="../_images/advisory/image14.jpg" alt="Mobirise">
                </div>
            </div>
        </div>
    </div>
</section>