<section class="form1 advisorym5" group="Forms" mbr-class="{'mbr-fullscreen': fullScreen,
                    'mbr-parallax-background': bg.parallax}">

    <mbr-parameters>
        <header>Size</header>
        <input type="checkbox" title="Full Screen" name="fullScreen">
        <input type="checkbox" title="Full Width" name="fullWidth" checked>
        <input type="range" inline title="Top" name="paddingTop" min="0" max="10" step="1" value="5"
               condition="fullScreen == false">
        <input type="range" inline title="Bottom" name="paddingBottom" min="0" max="10" step="1" value="5"
               condition="fullScreen == false">
        <input type="checkbox" title="Reverse" name="reverseContent">
        <header>Show/Hide</header>
        <input type="checkbox" title="Title" name="showMainTitle" checked>
        <input type="checkbox" title="Text" name="showText" checked>
        <input type="checkbox" title="Description" name="showDesc" checked>
        <input type="checkbox" title="Link" name="showLink" checked>
        <input type="checkbox" title="Buttons" name="showButtons" checked>
        <input type="checkbox" title="Border" name="showBorder" checked>
        <input type="color" title="Border Color" value="#d7d7d7" name="border" selected>
        <header>Background</header>
        <fieldset type="background" name="bg" parallax>
            <input type="image" title="Image" value="../_images/background1.jpg" parallax>
            <input type="color" title="Color" value="#FCFBF5" selected>
        </fieldset>
        <header condition="bg.type === 'video'">Fallback Image</header>
        <input type="image" title="Fallback Image" value="../_images/background1.jpg" name="fallBackImage"
               condition="bg.type === 'video'">
        <input type="checkbox" title="Overlay" name="overlay" condition="bg.type !== 'color'" checked>
        <input type="color" title="Overlay Color" name="overlayColor" value="#ffffff"
               condition="overlay && bg.type !== 'color'">
        <input type="range" inline title="Opacity" name="overlayOpacity" min="0" max="1" step="0.1" value="0.7"
               condition="overlay && bg.type !== 'color'">
    </mbr-parameters>

    <div class="mbr-fallback-image disabled" mbr-if="bg.type == 'video'"></div>
    <div class="mbr-overlay" mbr-if="overlay && bg.type!== 'color'"
         mbr-style="{'opacity': overlayOpacity, 'background-color': overlayColor}">
    </div>

    <div mbr-class="{'container': !fullWidth, 'container-fluid': fullWidth}">
        <div class="row" mbr-class="{'flex-row-reverse' : reverseContent}">
            <div class="col-12 col-lg-5 card">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style" mbr-theme-style="display-2" mbr-if="showMainTitle"
                        data-app-selector=".mbr-section-title, .mbr-section-btn">
                        Contacts
                    </h2>
                </div>
                <div class="contacts-wrap">
                    <p class="mbr-desc mbr-fonts-style" mbr-theme-style="display-4" mbr-if="showDesc"
                       data-app-selector=".mbr-desc">
                        Our email
                    </p>
                    <a href="#">
                        <p class="mbr-link mbr-fonts-style" mbr-theme-style="display-7" mbr-if="showLink"
                           data-app-selector=".mbr-link">
                            mobi@rise.com
                        </p>
                    </a>
                </div>
                <div class="contacts-wrap contacts-address">
                    <p class="mbr-desc mbr-fonts-style" mbr-theme-style="display-4" mbr-if="showDesc"
                       data-app-selector=".mbr-desc">
                        Our address
                    </p>
                    <a href="#">
                        <p class="mbr-link mbr-fonts-style" mbr-theme-style="display-7" mbr-if="showLink"
                           data-app-selector=".mbr-link">
                            1 CITY PIER CANANDAIGUA NY, USA
                        </p>
                    </a>
                </div>
                <div mbr-buttons mbr-theme-style="display-4" class="mbr-section-btn" mbr-if="showButtons">
                    <a class="btn btn-primary" href="https://mobiri.se" data-app-placeholder="Type Text">
                        <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>
                        Go to map
                    </a>
                </div>
            </div>
            <div mbr-form class="col-12 col-lg-7 mx-auto mbr-form">
                <form action name="Form Name" method="POST" class="mbr-form form-with-styler">
                    <div class="row">
                        <div hidden="hidden" data-form-alert class="alert alert-success col-12"> Thanks for filling out
                            the form!
                        </div>
                        <div hidden="hidden" data-form-alert-danger class="alert alert-danger col-12"> Oops...! some
                            problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p mbr-theme-style="display-7" mbr-if="showText"
                               class="mbr-text mbr-fonts-style">Fill the form below to get started
                            </p>
                        </div>
                        <div class="col-lg col-md col-12 form-group" data-for="name">
                            <input type="text" name="name" placeholder="Your name" data-form-field="name"
                                   mbr-theme-style="display-7" class="form-control" value>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="email" style>
                            <input type="email" name="email" placeholder="Your email" data-form-field="email"
                                   mbr-theme-style="display-7" class="form-control" value>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="textarea">
                            <textarea name="textarea" placeholder="Your message" data-form-field="textarea"
                                      mbr-theme-style="display-7" class="form-control"></textarea>
                        </div>
                        <div mbr-buttons="true" mbr-theme-style="display-4"
                             data-toolbar="-mbrBtnMove,-mbrLink,-mbrBtnRemove,-mbrBtnAdd"
                             class="col-lg-12 col-md-12 col-sm-12 mbr-section-btn ">
                            <a data-toolbar="-mbrBtnMove,-mbrLink,-mbrBtnRemove,-mbrBtnAdd" type="submit"
                               class="btn btn-primary">
                                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>
                                Send message
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>